.ArtistCard {
  box-shadow: 2px 2px 4px -2px rgba(0, 51, 161, 0.65);
  border-radius: 12px;
  height: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
  background: linear-gradient(165deg, #e1f1ff 0%, #ffffff 100%);
}

.ArtistCard > .ant-card-body {
  padding: 16px 10px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ArtistCard > .ant-card-body > p {
  margin-bottom: 8px;
}

.ArtistCard > .ant-card-body > p > span {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: bold;
}

.ArtistCard__twitter {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}

.ArtistCard__twitter > span {
  margin-right: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.ArtistCard__actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
