@import "~antd/dist/antd.css";

.ant-layout {
  min-height: 100vh;
  align-items: center;
  padding: 32px 16px;
}

.ant-layout-content {
  width: 100%;
}

@media (min-width: 576px) {
  .ant-layout-content {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .ant-layout-content {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .ant-layout-content {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .ant-layout-content {
    width: 1140px;
  }
}
